AutomationCoEMain/SolutionPackage/src/Workflows/CalculateROISavingPotentialforAutomationProject-6DA1EFE0-413A-EC11-8C62-000D3AF47760.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "autocoe_sharedcommondataserviceforapps_58896"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "DefaultFrequencyValues (autocoe_DefaultFrequencyValues)": {
          "defaultValue": {
            "processfrequency": {
              "hourly": 2008,
              "daily": 251,
              "weekly": 52,
              "monthly": 12,
              "quarterly": 4,
              "yearly": 1
            }
          },
          "type": "Object",
          "metadata": {
            "schemaName": "autocoe_DefaultFrequencyValues",
            "description": "Default value for process frequency like hourly/daily/weekly/monthly and yearly"
          }
        }
      },
      "triggers": {
        "When_an_Automation_Project_is_added_or_modified": {
          "metadata": {
            "operationMetadataId": "63722dc3-e5f9-43f7-8cce-b187b3b2e9f9"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "autocoe_automationproject",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "autocoe_numberofftesneededforreviewrework,autocoe_volumeperprocessfrequency,autocoe_totalprocessingtimeinminutes,autocoe_avgerrorratepct,autocoe_workinghoursperday,autocoe_avgnumberofautomationsteps,autocoe_avghourlycostperfte,autocoe_avgreworktimeinminutes,autocoe_workingdaysperyear,autocoe_numberofftesneeded,autocoe_maintenanceoverhead,autocoe_totalcostsperyearasis,autocoe_processingfrequency"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@and ( not(equals(triggerbody()?['autocoe_avghourlycostperfte'], null)), not(equals(triggerbody()?['autocoe_avgnumberofautomationsteps'], null)), not(equals(triggerbody()?['autocoe_avgreworktimeinminutes'], null)), not(equals(triggerbody()?['autocoe_numberofftesneeded'], null)), not(equals(triggerbody()?['autocoe_numberofftesneededforreviewrework'], null)), not(equals(triggerbody()?['autocoe_workingdaysperyear'], null)), not(equals(triggerbody()?['autocoe_workinghoursperday'], null)) )"
            }
          ]
        }
      },
      "actions": {
        "Get_full_AutomationProject_record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c7273f10-1187-4f89-ab80-6181a15ca3aa"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "autocoe_automationprojects",
              "recordId": "@triggerOutputs()?['body/autocoe_automationprojectid']",
              "$expand": "autocoe_ProcessingFrequency"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initializing_ROI_Type": {
          "runAfter": {
            "Getting_Default_Json_Config_data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b7471f5e-80c3-4150-b7cf-39987837cc26"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ROI_Type",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "ROI_Type_switch": {
          "runAfter": {
            "Initializing_ROI_Type": [
              "Succeeded"
            ]
          },
          "cases": {
            "Through_Power_Automate": {
              "case": 0,
              "actions": {
                "Get_Processing_Frequency_Score": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a6694c7c-64c9-4853-aff9-08659a622708"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "autocoe_processingfrequencyscores",
                      "recordId": "@outputs('Get_full_AutomationProject_record')?['body/_autocoe_processingfrequency_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Processing_Peaks_Score": {
                  "runAfter": {
                    "Get_Processing_Frequency_Score": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f4ac7bb5-b691-4dcd-ad4c-053049df313a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "autocoe_processingpeaksscores",
                      "recordId": "@outputs('Get_full_AutomationProject_record')?['body/_autocoe_processingpeaks_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Average_Automation_Steps_Score": {
                  "runAfter": {
                    "Get_Processing_Peaks_Score": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6cdcfb68-7eb3-4e55-98af-f1d1e1630c5c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "autocoe_averageautomationstepsscores",
                      "$filter": "autocoe_valuefrom le @{outputs('Get_full_AutomationProject_record')?['body/autocoe_avgnumberofautomationsteps']} and autocoe_valueto gt @{outputs('Get_full_AutomationProject_record')?['body/autocoe_avgnumberofautomationsteps']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition": {
                  "actions": {
                    "Parse_JSON": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9fee5074-26e4-4f33-91c1-b984c1863d67"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@variables('JsonConfigData')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "processfrequency": {
                              "type": "object",
                              "properties": {
                                "hourly": {
                                  "type": "integer"
                                },
                                "daily": {
                                  "type": "integer"
                                },
                                "weekly": {
                                  "type": "integer"
                                },
                                "monthly": {
                                  "type": "integer"
                                },
                                "quarterly": {
                                  "type": "integer"
                                },
                                "yearly": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "Read_Value_for_Daily": {
                      "runAfter": {
                        "Read_value_for_hourly": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6cf8c2c3-0b1f-4055-a9dc-20572e2e696d"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DefaultFrequencyToDaily",
                        "value": "@coalesce(body('Parse_JSON')?['processfrequency']?['daily'], 251)"
                      }
                    },
                    "Read_value_for_weekly": {
                      "runAfter": {
                        "Read_Value_for_Daily": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "98872675-115e-4717-b5e4-5d1aea9c4a3b"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DefaultFrequencyToWeekly",
                        "value": "@coalesce(body('Parse_JSON')?['processfrequency']?['weekly'], 52)"
                      }
                    },
                    "Read_value_for_Monthly": {
                      "runAfter": {
                        "Read_value_for_weekly": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3a702920-0a67-40cf-830a-2c011355f905"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DefaultFrequencyToMonthly",
                        "value": "@coalesce(body('Parse_JSON')?['processfrequency']?['monthly'], 12)"
                      }
                    },
                    "Read_value_for_Yearly": {
                      "runAfter": {
                        "Read_value_for_Quarterly": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1a7f0d3a-9649-4eae-a7ed-8b36b6cdcee5"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DefaultFrequencyToYearly",
                        "value": "@coalesce(body('Parse_JSON')?['processfrequency']?['yearly'], 1)"
                      }
                    },
                    "Read_value_for_Quarterly": {
                      "runAfter": {
                        "Read_value_for_Monthly": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d2632149-cd0d-40cb-8e18-b79e4c64fe57"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "DefalutFrequencyToQuarterly",
                        "value": "@coalesce(body('Parse_JSON')?['processfrequency']?['quarterly'], 4)"
                      }
                    },
                    "Read_value_for_hourly": {
                      "runAfter": {
                        "Parse_JSON": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7ef685bf-fd47-47b0-8777-24ecf819ec96"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Default_FrequencyToHourly",
                        "value": "@coalesce(body('Parse_JSON')?['processfrequency']?['hourly'], 2008)"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Average_Automation_Steps_Score": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_value_to_Hourly": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "4f82799e-326a-4349-8e6a-5d2c148b7f89"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Default_FrequencyToHourly",
                          "value": 2008
                        }
                      },
                      "Set_value_to_Weekly": {
                        "runAfter": {
                          "Set_value_to_Daily_": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "45205460-c6d3-4e9c-ae63-e25b617c9ec1"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "DefaultFrequencyToWeekly",
                          "value": 52
                        }
                      },
                      "Set_value_to_Monthly": {
                        "runAfter": {
                          "Set_value_to_Weekly": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "25cda0e0-6d02-475d-addb-201ca21e8092"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "DefaultFrequencyToMonthly",
                          "value": 12
                        }
                      },
                      "Set_value_to_Quarterly": {
                        "runAfter": {
                          "Set_value_to_Monthly": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "f270712a-961b-4791-a4b3-61b962ae8237"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "DefalutFrequencyToQuarterly",
                          "value": 4
                        }
                      },
                      "Set_value_to_Yearly": {
                        "runAfter": {
                          "Set_value_to_Quarterly": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "59a26c9b-d007-41cc-98c9-dd8766b4ad01"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "DefaultFrequencyToYearly",
                          "value": 1
                        }
                      },
                      "Set_value_to_Daily_": {
                        "runAfter": {
                          "Set_value_to_Hourly": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "11b8fef2-ad68-4e8a-b2b4-87cd4d7a7862"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "DefaultFrequencyToDaily",
                          "value": 251
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(trim(variables('JsonConfigData')))",
                          0
                        ]
                      },
                      {
                        "equals": [
                          "@empty(trim(variables('JsonConfigData')))",
                          false
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9eb4ca05-d268-4453-be72-a6e1030a8d05"
                  },
                  "type": "If"
                },
                "Switch": {
                  "runAfter": {
                    "Condition": [
                      "Succeeded"
                    ]
                  },
                  "cases": {
                    "Daily": {
                      "case": "Daily",
                      "actions": {
                        "Set_Process_Frequency_Daily": {
                          "runAfter": {
                            "Assigning_Project_record_working_days": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "d5dfaeed-57b6-4f09-9b79-3a60e3b2add6"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Process Frequency Value",
                            "value": "@variables('DefaultFrequencyToDaily')"
                          }
                        },
                        "Assigning_Project_record_working_days": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "fbe29ff3-f0d4-43a9-802c-fe099db51b14"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "DefaultFrequencyToDaily",
                            "value": "@int(outputs('Get_full_AutomationProject_record')?['body/autocoe_workingdaysperyear'])"
                          }
                        }
                      }
                    },
                    "Hourly": {
                      "case": "Hourly",
                      "actions": {
                        "Set_Process_Frequency_Hourly": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "d72b52f3-ab4a-4d31-a870-5e337263d07b"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Process Frequency Value",
                            "value": "@variables('Default_FrequencyToHourly')"
                          }
                        }
                      }
                    },
                    "Weekly": {
                      "case": "Weekly",
                      "actions": {
                        "Set_Process_Frequency_Weekly": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "96e9c6e0-0582-4ce3-bb40-7ccd0f166c33"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Process Frequency Value",
                            "value": "@variables('DefaultFrequencyToWeekly')"
                          }
                        }
                      }
                    },
                    "Monthly": {
                      "case": "Monthly",
                      "actions": {
                        "Set_Process_Frequency_Monthly": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "d04199fe-54d5-4481-b60e-7c9f8b4d6848"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Process Frequency Value",
                            "value": "@variables('DefaultFrequencyToMonthly')"
                          }
                        }
                      }
                    },
                    "Quarterly": {
                      "case": "Quarterly",
                      "actions": {
                        "Set_Process_Frequency_Quarterly": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "9f4c7dad-6ba4-4c28-a75a-bb7b884cb7e8"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Process Frequency Value",
                            "value": "@variables('DefalutFrequencyToQuarterly')"
                          }
                        }
                      }
                    },
                    "Yearly": {
                      "case": "Yearly",
                      "actions": {
                        "Set_Process_Frequency_Yearly": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "a0cd24ee-876a-430d-8ec0-b9a9fd94cd3a"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Process Frequency Value",
                            "value": "@variables('DefaultFrequencyToYearly')"
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {
                      "Set_Process_Frequency_CATCH": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "2f3f54e4-4754-4a4b-af84-87c30617428a"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Process Frequency Value",
                          "value": 0
                        }
                      }
                    }
                  },
                  "expression": "@outputs('Get_full_AutomationProject_record')?['body/autocoe_processingfrequency/autocoe_value']",
                  "metadata": {
                    "operationMetadataId": "b439cd45-817a-47fc-aef0-96700b26aef9"
                  },
                  "type": "Switch"
                },
                "Error_Rate_Percent": {
                  "runAfter": {
                    "Switch": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c9fcd3fb-3722-4ad1-84c3-08754fe709ff"
                  },
                  "type": "Compose",
                  "inputs": "@div(float(outputs('Get_full_AutomationProject_record')?['body/autocoe_avgerrorratepct']),float(100))"
                },
                "Processing_Frequency_Score": {
                  "runAfter": {
                    "Error_Rate_Percent": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d21080da-5391-4ffa-a28f-d1794b69e247"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Get_Processing_Frequency_Score')?['body/autocoe_score']"
                },
                "Processing_Peaks_Score": {
                  "runAfter": {
                    "Processing_Frequency_Score": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d0676413-9504-4a20-b916-7149e8ee8865"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Get_Processing_Peaks_Score')?['body/autocoe_score']"
                },
                "Average_Automation_Steps_Score": {
                  "runAfter": {
                    "Processing_Peaks_Score": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "758efc37-6a3b-44a8-be86-3b27bae51c93"
                  },
                  "type": "Compose",
                  "inputs": "@first(outputs('Get_Average_Automation_Steps_Score')?['body/value'])?['autocoe_score']"
                },
                "Calculate_Complexity_Score": {
                  "actions": {
                    "List_Processing_Peaks_Scores": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "72b261d1-c0e7-4069-b349-33c73d6d2985"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "autocoe_processingpeaksscores",
                          "$orderby": "autocoe_score desc"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "MAX_Processing_Peaks_Score": {
                      "runAfter": {
                        "List_Average_Automation_Steps_Scores": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "79ba00cc-cc0d-4183-a5f1-f8b0c9c25216"
                      },
                      "type": "Compose",
                      "inputs": "@first(outputs('List_Processing_Peaks_Scores')?['body/value'])?['autocoe_score']"
                    },
                    "List_Average_Automation_Steps_Scores": {
                      "runAfter": {
                        "List_Processing_Peaks_Scores": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0a9909ab-33c6-4e25-80ab-9447e4930df5"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "autocoe_averageautomationstepsscores",
                          "$orderby": "autocoe_score desc"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "MAX_Average_Automation_Steps_Scores": {
                      "runAfter": {
                        "MAX_Processing_Peaks_Score": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1347b734-d031-4f93-ad46-b4a7a2e4df11"
                      },
                      "type": "Compose",
                      "inputs": "@first(outputs('List_Average_Automation_Steps_Scores')?['body/value'])?['autocoe_score']"
                    },
                    "Complexity_Score_Step_1": {
                      "runAfter": {
                        "MAX_Average_Automation_Steps_Scores": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fa7a7f95-e7f9-465d-8a51-c71562f8a2f6"
                      },
                      "type": "Compose",
                      "inputs": "@mul(outputs('Processing_Peaks_Score'),outputs('Average_Automation_Steps_Score'))"
                    },
                    "Complexity_Score_Step_2": {
                      "runAfter": {
                        "Complexity_Score_Step_1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "acd16dea-bb01-4f37-82a6-32cd421a7c35"
                      },
                      "type": "Compose",
                      "inputs": "@mul(outputs('MAX_Processing_Peaks_Score'), outputs('MAX_Average_Automation_Steps_Scores'))"
                    }
                  },
                  "runAfter": {
                    "Average_Automation_Steps_Score": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "27e129f8-3275-4153-b9d9-1d27b26b44eb"
                  },
                  "type": "Scope"
                },
                "Calculate_Total_Cost_Per_Year": {
                  "actions": {
                    "Cost_to_complete": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "71c59659-ade4-42b0-b591-823c882a9dce"
                      },
                      "type": "Compose",
                      "inputs": "@mul(\r\n    mul(\r\n        mul(\r\n            div(float(outputs('Get_full_AutomationProject_record')?['body/autocoe_avghourlycostperfte']),60),\r\n            outputs('Get_full_AutomationProject_record')?['body/autocoe_numberofftesneeded']\r\n        ),\r\n        outputs('Get_full_AutomationProject_record')?['body/autocoe_totalprocessingtimeinminutes']\r\n    ),\r\n    variables('Process Frequency Value')\r\n)"
                    },
                    "Round_cost_to_complete": {
                      "runAfter": {
                        "Cost_to_complete": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ecc6630e-8970-4af2-9c36-233c7d47c256"
                      },
                      "type": "Expression",
                      "kind": "FormatNumber",
                      "inputs": {
                        "number": "@outputs('Cost_to_complete')",
                        "format": "#.00"
                      }
                    },
                    "Cost_to_remediate_part1": {
                      "runAfter": {
                        "Round_cost_to_complete": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bdc6a906-6b81-4884-a3c4-0ab821411023"
                      },
                      "type": "Compose",
                      "inputs": "@mul(\r\n    mul(variables('Process Frequency Value'),\r\n    outputs('Error_Rate_Percent')),\r\n    outputs('Get_full_AutomationProject_record')?['body/autocoe_avgreworktimeinminutes']\r\n)"
                    },
                    "Cost_to_remediate_part_2": {
                      "runAfter": {
                        "Cost_to_remediate_part1": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "815307e4-2870-494b-b751-5bae50acb8f2"
                      },
                      "type": "Compose",
                      "inputs": "@mul(\r\n   div(float(outputs('Get_full_AutomationProject_record')?['body/autocoe_avghourlycostperfte']),60),\r\n    outputs('Get_full_AutomationProject_record')?['body/autocoe_numberofftesneededforreviewrework']\r\n)"
                    },
                    "Cost_to_remediate_total": {
                      "runAfter": {
                        "Cost_to_remediate_part_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d372f396-b6f9-4be1-9617-a9eb35030e19"
                      },
                      "type": "Compose",
                      "inputs": "@mul(outputs('Cost_to_remediate_part1'),outputs('Cost_to_remediate_part_2'))"
                    },
                    "Round_cost_to_remediate_total": {
                      "runAfter": {
                        "Cost_to_remediate_total": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "91fa1de0-5700-49f4-a0c3-1d7bab936013"
                      },
                      "type": "Expression",
                      "kind": "FormatNumber",
                      "inputs": {
                        "number": "@outputs('Cost_to_remediate_total')",
                        "format": "#.00"
                      }
                    },
                    "Total_Cost_Per_Year": {
                      "runAfter": {
                        "Round_cost_to_remediate_total": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4a44adcc-9380-4076-8390-bd33aa80df39"
                      },
                      "type": "Compose",
                      "inputs": "@add(\r\n    float(body('Round_cost_to_complete')),\r\n    float(body('Round_cost_to_remediate_total'))\r\n)"
                    }
                  },
                  "runAfter": {
                    "Calculate_Complexity_Score": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7e943f9c-bd7d-4ab0-9c01-d76afef4990f"
                  },
                  "type": "Scope"
                },
                "Complexity_Score": {
                  "runAfter": {
                    "Calculate_Total_Cost_Per_Year": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "99b1d831-bf6b-4259-b6d5-daaa875149d2"
                  },
                  "type": "Compose",
                  "inputs": "@int(first(split(string(mul(div( float(outputs('Complexity_Score_Step_1')) , float(outputs('Complexity_Score_Step_2')) ), 100)),'.')))"
                },
                "Update_ROI_Calculations": {
                  "runAfter": {
                    "Complexity_Score": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4c56ba36-4674-4a78-854b-bed79ba09752"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "autocoe_automationprojects",
                      "recordId": "@outputs('Get_full_AutomationProject_record')?['body/autocoe_automationprojectid']",
                      "item/autocoe_complexityscore": "@outputs('Complexity_Score')",
                      "item/autocoe_roisavingpotential": "@outputs('Total_Cost_Per_Year')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Through_Default_Plugin": {
              "case": 1,
              "actions": {}
            },
            "Custom_Plugin": {
              "case": 2,
              "actions": {}
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@variables('ROI_Type')",
          "metadata": {
            "operationMetadataId": "4e6ee943-ce03-429a-bc81-491192d952ae"
          },
          "type": "Switch"
        },
        "Process_Frequency_Value": {
          "runAfter": {
            "Get_full_AutomationProject_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e9712a86-e3ff-4ef1-bae6-4ff45c15ed79"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Process Frequency Value",
                "type": "integer"
              }
            ]
          }
        },
        "Default_Frequency_for_Daily": {
          "runAfter": {
            "Process_Frequency_Value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c346afc6-dfb7-475d-b598-7aee29018195"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DefaultFrequencyToDaily",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Default_Frequency_for_Hourly": {
          "runAfter": {
            "Default_Frequency_for_Daily": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "50e907d2-9d8f-4671-9d9d-02e8ba06e91c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Default_FrequencyToHourly",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Default_Frequency_for_Weekly": {
          "runAfter": {
            "Default_Frequency_for_Hourly": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4c38a998-35b3-448a-889c-e543cce85064"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DefaultFrequencyToWeekly",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Default_Frequency_for_Monthly": {
          "runAfter": {
            "Default_Frequency_for_Weekly": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "37b05608-571f-4cf4-9f6b-702a1dc0c6d0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DefaultFrequencyToMonthly",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Default_Frequency_for_Quarterly": {
          "runAfter": {
            "Default_Frequency_for_Monthly": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0cf60806-db04-49bb-9d66-61635b3a39a3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DefalutFrequencyToQuarterly",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Default_Frequency_for_Yearly": {
          "runAfter": {
            "Default_Frequency_for_Quarterly": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "06f54471-8503-415c-9b4a-01f004b5acba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DefaultFrequencyToYearly",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Getting_Default_Json_Config_data": {
          "runAfter": {
            "Default_Frequency_for_Yearly": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8de6d137-589b-4ffa-9889-caff12fd58fe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "JsonConfigData",
                "type": "string",
                "value": "@{parameters('DefaultFrequencyValues (autocoe_DefaultFrequencyValues)')}"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}