AutomationCoESatellite/SolutionPackage/src/Workflows/GetDataverseSolutionArtifacts-D3044475-5041-EC11-8C62-002248047C81.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "autocoe_sharedcommondataserviceforapps_05953"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "7395c836-8e61-4201-8c1f-700e87b11c08"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Solution Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Select_only_a_couple_of_fields": {
          "runAfter": {
            "Get_Solution_Artifacts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d246bc37-978a-4628-860d-99fe2757c2f7"
          },
          "type": "Select",
          "inputs": {
            "from": "@body('Get_Solution_Artifacts')?['value']",
            "select": {
              "Schema name": "@item()?['msdyn_schemaname']",
              "Modified on": "@item()?['msdyn_modifiedon']",
              "Created on": "@item()?['msdyn_createdon']",
              "Is customizable": "@item()?['msdyn_iscustomizable']",
              "Is managed": "@item()?['msdyn_ismanaged']",
              "Solution id": "@item()?['msdyn_solutionid']",
              "Name": "@item()?['msdyn_name']",
              "Display name": "@item()?['msdyn_displayname']",
              "Object type code": "@item()?['msdyn_objecttypecode']",
              "Component type": "@item()?['msdyn_objectid']",
              "Component type name": "@item()?['msdyn_componenttypename']",
              "Component logical name": "@item()?['msdyn_componentlogicalname']",
              "Primary id attribute": "@item()?['msdyn_primaryidattribute']",
              "Total count of component type": "@item()?['msdyn_total']",
              "Owner": "@item()?['msdyn_owner']",
              "Connector internal id": "@item()?['msdyn_connectorinternalid']",
              "Workflow category name": "@item()?['msdyn_workflowcategoryname']",
              "Sub type": "@item()?['msdyn_subtype']",
              "Workflow category": "@item()?['msdyn_workflowcategory']",
              "Workflow unique id": "@item()?['msdyn_workflowidunique']",
              "Description": "@item()?['msdyn_description']",
              "Object id": "@item()?['msdyn_objectid']"
            }
          }
        },
        "Response": {
          "runAfter": {
            "Select_only_a_couple_of_fields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a00ec714-ce40-4f98-8ce5-edd2e6418501"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@body('Select_only_a_couple_of_fields')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Schema name": {},
                  "Modified on": {
                    "type": "string"
                  },
                  "Created on": {
                    "type": "string"
                  },
                  "Is customizable": {
                    "type": "boolean"
                  },
                  "Is managed": {
                    "type": "boolean"
                  },
                  "Solution id": {
                    "type": "string"
                  },
                  "Name": {
                    "type": "string"
                  },
                  "Display name": {
                    "type": "string"
                  },
                  "Object type code": {
                    "type": "integer"
                  },
                  "Object id": {
                    "type": "string"
                  },
                  "Component type": {
                    "type": "string"
                  },
                  "Component type name": {
                    "type": "string"
                  },
                  "Component logical name": {
                    "type": "string"
                  },
                  "Primary id attribute": {
                    "type": "string"
                  },
                  "Total count of component type": {
                    "type": "integer"
                  },
                  "Owner": {
                    "type": "string"
                  },
                  "Connector internal id": {
                    "type": "string"
                  },
                  "Workflow category name": {
                    "type": "string"
                  },
                  "Sub type": {
                    "type": "string"
                  },
                  "Workflow category": {
                    "type": "integer"
                  },
                  "Workflow unique id": {
                    "type": "string"
                  },
                  "Description": {
                    "type": "string"
                  }
                },
                "required": []
              }
            }
          }
        },
        "Get_Solution_Artifacts": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e1bb47f0-fd88-4834-a09c-3d78e4057d1d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "actionName": "autocoe_GetDataverseSolutionArtifacts",
              "item/SolutionManagerSolutionId": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}