AutomationCoESatellite/SolutionPackage/src/Workflows/RemoveDeletedActionfromDLPProfile-EC28D51D-B8A9-EC11-9840-000D3A83C406.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "autocoe_DLPImpactAnalysisDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_Action_is_deleted": {
          "metadata": {
            "operationMetadataId": "978f4caa-78bf-492c-94cc-ce627e93a794"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 2,
              "subscriptionRequest/entityname": "autocoe_desktopflowaction",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Action_References_to_be_deleted": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fa6fc8c1-eb31-48bc-8e2a-0ac61726bae5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "autocoe_desktopflowdlpimpactprofiles",
              "$filter": "autocoe_actionrecordid eq '@{triggerOutputs()?['body/autocoe_desktopflowactionid']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_Action_References_to_be_deleted')?['body/value']",
          "actions": {
            "Delete_DLP_Profiles_that_match_Action_Record_Id": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0f164308-87c1-43d5-95a3-8d6ed08aeafc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "DeleteRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "autocoe_desktopflowdlpimpactprofiles",
                  "recordId": "@items('Apply_to_each')?['autocoe_desktopflowdlpimpactprofileid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Action_References_to_be_deleted": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "04abdfad-d64f-40a7-80f2-5e3f645023c6"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}