AutomationCoESatellite/SolutionPackage/src/Workflows/SyncDeletedselectorfromDLPProfile-F97F0940-A7B9-ED11-83FE-000D3A31FDFF.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "autocoe_sharedcommondataservice_a6d4e"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "autocoe_DLPImpactAnalysisDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Environment Unique Name of CoE Main (autocoe_EnvironmentUniqueNameofCoEMain)": {
          "defaultValue": "unq8ddc397efe90414fbe68334c572a0.crm",
          "type": "String",
          "metadata": {
            "schemaName": "autocoe_EnvironmentUniqueNameofCoEMain",
            "description": "Main Environment - Unique name along with its [.crm] extension. Example \"unqda99ac46cfcd47eba73db6d73de2e.crm\". Please note that the extension 'crm', 'crm[x]'etc. Is region dependent. Found in Session details in Power Apps portal"
          }
        }
      },
      "triggers": {
        "When_an_Action_is_deleted": {
          "metadata": {
            "operationMetadataId": "978f4caa-78bf-492c-94cc-ce627e93a794"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 2,
              "subscriptionRequest/entityname": "autocoe_desktopflowdlpimpactprofile",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Getting_Iteam_Id_from_local": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ee8d3a31-180e-43ad-851d-669d1ad89c51"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ItemId_to_delete",
                "type": "string",
                "value": "@{body('Parse_JSON')?['ItemInternalId']}"
              }
            ]
          }
        },
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4c7751a9-87c9-497b-ab6c-fe7a1541d3af"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerOutputs()?['body']",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "autocoe_desktopflowdlpimpactprofileid": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "ItemInternalId": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "SdkMessage": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "RunAsSystemUserId": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "GetDLPProfileSelectorRecordID_From_Main": {
          "runAfter": {
            "Getting_Iteam_Id_from_local": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fdf5852b-37b8-4910-958c-51fac6ccbcc3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataservice",
              "operationId": "GetItems_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
            },
            "parameters": {
              "dataset": "@parameters('Environment Unique Name of CoE Main (autocoe_EnvironmentUniqueNameofCoEMain)')",
              "table": "autocoe_desktopflowdlpimpactprofiles",
              "$filter": "autocoe_originalrecordid eq @{variables('ItemID_to_delete')}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('GetDLPProfileSelectorRecordID_From_Main')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ee66c1cd-5849-4363-88e2-451067062db8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ItemID_to_delete",
                "value": "@items('Apply_to_each')?['autocoe_desktopflowdlpimpactprofileid']"
              }
            },
            "Delete_a_row": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "75f7f863-de87-4713-ab05-5f29573aa96f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataservice",
                  "operationId": "DeleteItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                },
                "parameters": {
                  "dataset": "@parameters('Environment Unique Name of CoE Main (autocoe_EnvironmentUniqueNameofCoEMain)')",
                  "table": "autocoe_desktopflowdlpimpactprofiles",
                  "id": "@variables('ItemID_to_delete')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "GetDLPProfileSelectorRecordID_From_Main": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7e84cb17-e25b-4e7c-81ea-e1080757dbc2"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}