AutomationKitInstaller/SolutionPackage/src/Workflows/ImportSolution-2AB90884-A87C-EF11-AC20-002248AF6B71.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "autocoe_sharedcommondataserviceforapps_005d3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8e0fb628-6fc5-4ed1-bc8f-2d87f408cea1"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "solutiontype",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "githubreponame",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "githubreleaseid",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "componentparameters",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "userid",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ]
            }
          }
        }
      },
      "actions": {
        "Perform_an_unbound_action": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c3644fe6-a40f-4772-9b70-b676d3d2f632"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "PerformUnboundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "actionName": "autocoe_SolutionImportAPI",
              "item/autocoe_githubreleaseid": "@triggerBody()['text_2']",
              "item/autocoe_userid": "@triggerBody()['text_4']",
              "item/autocoe_solutiontype": "@triggerBody()['text']",
              "item/autocoe_importjobid": "@variables('varimportjobid')",
              "item/autocoe_deploymentsettings": "@triggerBody()['text_3']",
              "item/autocoe_githubreponame": "@triggerBody()['text_1']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Perform_an_unbound_action": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7833e415-e8b4-4abb-a8fc-afc8782d0cf0"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "importjobid": "@variables('varimportjobid')",
              "importapiresponse": "@outputs('Perform_an_unbound_action')?['body/autoco_solutionimportapiresponse']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "importjobid": {
                  "title": "importjobid",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "importapiresponse": {
                  "title": "importapiresponse",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fb7be755-2f99-4d57-a95e-8dea14a9082e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varimportjobid",
                "type": "string",
                "value": "@{guid()}"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}